*{
    padding: 0;
    margin: 15px;
    font-family: 'Oswald';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --text-color:#DCDCDC;
    --text-color2:#0000;
    --bg-color:#696969;

    --main-color:#427BED;
    --second-color:#FFFFFF;
    --other-color:#000000;
    --big-font: 4rem;
    --p-font: 5px;
}

body{
    background: var(--bg-color) ;
    color: var(--text-color);
}

header{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 9%;
    padding-right:50px;
    background-color: #4F4F4F;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
}

.logo i{
    vertical-align: middle;
    color: var(--main-color);
    font-size: 35px;
    margin-right: 5px;
}

.navlist{
    display: flex;
    padding-left: 0px;
}

.navlist a{
    font-size: var(--p-font); 
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    margin: 0 15px;
    transition: all ease 0.55;
    /* padding-right: 40px; */
}   

.h-main{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.icon{
    font-size: 5px;
}

.content{
    position: relative;
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.content-text h1{
    font-size: var(--big-font);
    line-height: 1.3;
    font-weight: 800;
    /* padding-left: 70px; */
    margin: none;
    padding-bottom: 10px;
    padding-top: 100px;
}

.content-text h4{
     color:#000000;
     font-weight: 4;
     font-size: 22px;
     letter-spacing: 10px;
     text-transform: uppercase; 
     padding-left: 70px;
     padding-bottom: 20px;
     padding-top: 40px; 
     margin: none;
}

.content-text p{
    margin: 5px 0 20px;
    color:#000000;
    font-weight: 4;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 70px; 
    padding-bottom: 20px; 
    padding-top: 40px; 
    margin-bottom: 70px;
    margin-left: none;
}
   

.content-img{
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, auto)); */
    grid-template-columns: auto auto auto auto;
    width: max-content;
    gap:30px;
}



  .box {
    background-color: var(--second-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 30px black;
    transition: all ease .25s;
    position: relative;
    width: max-content;
    height: max-content;
    display: flex;
    object-fit: cover ;
    background-size: cover;

  }
  
  .box img {
    width: 150px;
    border-radius: 1rem;
    object-fit: cover;
    background-size: cover;

  } */

  .box{
    background-color: var(--second-color);
    padding: px;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px black;
    transition: all ease .25s;
    position: relative;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.box img {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    object-fit: cover;
    background-size: cover;

  }
  
.box:hover{
    transform: translateY(-5px) scale(1.1);
}

.logo-icon{
    color: var(--text-color2);
    font-size: 700px;

}
/* img {
    float: right;
    margin-right: 10px;
    border-radius: 2rem;
    margin-right: 10px;
    display: ;
  } */

  .container {
    display: flex;
    align-items: center;
}

.container img {
    width: 150px;
    padding-left: 20px;
    margin-top: 50px;
    border-radius: 1rem;
}

.content-text h2{
    color:#FFFFFF;
    font-weight: 4;
    font-size: 30px;
    padding-left: 70px;
}

.content-text h3{
    color:#000000;
    font-weight: 4;
    font-size: 30px;
    padding-left: 42px;
}

.imagem{
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    /* object-fit: cover; */
    /* background-size: cover; */
}